.search-section {
  min-width: 296px;
  border-right: 1px solid rgba(222, 222, 221, 1);
  padding-top: 27px;
  padding-left: 20px;

  &__header {
    font-size: 16px;
    font-weight: 600;
    margin-top: 22px;
  }

  &__input {
    font-size: 14px;
    font-weight: 400;
    min-height: 46px;
    width: 240px;
    margin-top: 22px;
    margin-right: 31px;
    padding-left: 24px;
    border: 1.5px solid rgba(233, 236, 239, 1);
    border-radius: 8px;
  }
}

.result {
  &__text {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
  }
}
.user {
  display: flex;
  width: 240px;
  min-height: 70px;
  margin-top: 18px;

  &__photo {
    width: 70px;
    min-height: 70px;
    border-right: 1px solid rgba(224, 224, 224, 1);
    object-fit: cover;
  }

  &__info {
    padding-top: 15px;
    padding-left: 15px;
    width: 200px;
    overflow: hidden;
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
  }

  &__email {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }
}

.user--selected {
  background-color: rgba(0, 0, 0, 0.1);
}
